.main {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main img {
  margin: -30px 0;
}

.main h1 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 400;
}

.main h2 {
  color: var(--neutral-color);
  font-weight: 400;
  font-style: italic;
}

.main a {
  text-decoration: none;
  font-weight: 600;
}

.main hr {
  border: 1px solid var(--secondary-color);
  width: 50%;
}

.main button {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  padding: 15px 40px;
  border: 1px solid var(--secondary-color);
  margin-right: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.heroIcon {
  color: var(--primary-color);
  width: 50px;
  height: 50px;
}

.introduction {
  height: 100vh;
  background-color: var(--neutral-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introContext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.introContext h2 {
  font-size: 2rem;
}

.introContext p {
  max-width: 500px;
}

.introContext hr {
  border: 1px solid var(--secondary-color);
  max-width: 200px;
}

.introContext button {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  padding: 15px 40px;
  border: 1px solid var(--secondary-color);
  margin-right: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.introContext a {
  text-decoration: none;
}

.experiences {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
  gap: 100px;
}

.experiences h2 {
  font-size: 3rem;
  color: var(--neutral-color);
}

.experiences hr {
  border: 1px solid var(--secondary-color);
  max-width: 200px;
}

.experiences p {
  max-width: 500px;
  color: var(--neutral-color);
}

.experiences h3 {
  color: #cecccc9f;
  font-size: 1rem;
  margin-bottom: -20px;
}

.experienceLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experienceRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-gap: 30px;
}
